

.insertionsort_part{
    position: relative;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #84A59D;
    background-size: cover;
  
}

.wrapper{
    display: flex; 
    justify-content: center;
    align-items:center;
    
}
.menu_insert{
    font-size: 40px;
    display: block;
    margin: 0px;
    padding-top: 10px;
    text-align: center;
}

#input{
    margin-bottom: 15px 0 ;
}
#output, #result{
    font-size:20px;
}
.button_insert{
    margin-right: 5px ;
    margin-top: 5px;
    font-size: 15px;
}

.container{

    padding-right:80px;
    padding-bottom: 80px;
}

.allcontain{

    padding-top: 50px;
}

.input{
    margin: 10px;
}



.text_insert{
    font-size: 20px;
    margin:20px;
}
.figure{
    margin: 50px;
    display: block;
    text-align: center;
}


@media (max-width: 768px){

.wrapper{
    display: block; 
    justify-content: center;
    align-items:center;
    text-align: center;
}
.container{
    

    padding-right:0px;
    padding-bottom: 5px;
    margin: 0 auto;
}

.menu_insert{
    font-size: 30px;
    display: block;
    margin: 0px;
    
    padding-bottom: 10px;
    text-align: center;
}

#input{
    margin-bottom: 5px 0 ;
}
#output, #result{
    font-size:15px;
    margin:0px;
}
.figure{
    margin: 10px;
    display: block;
    text-align: center;
}
img{
    margin: 10px;
    width: 250px;
    height: 250px;

}

.button_insert{
    margin-right: 5px ;
    margin-top: 5px;
    font-size: 10px;
}
.text_insert{
    margin: 5px;
    font-size: 25px;
 }
}

@media (max-width: 425px){
    
   
    .menu_insert{
        font-size: 20px;
        
    }
    
    #output, #result{
        font-size:10px;
    }

   
    img{
        width: 200px;
        height: 200px;
    
    }
    
    .button_insert{
        margin-right: 5px ;
        margin-top: 5px;
        font-size: 10px;
    }
    .text_insert{
        margin: 5px;
        font-size: 20px;
     }

}